.main-body{
  background-color: rgb(247, 247, 247);
  margin-top: 59px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 73px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  color: whitesmoke;
  padding-left: 80px;
  margin: 0;
}

header{
  display: flex;
  align-items: center;
  background-color: rgb(163, 67, 104);
  height: 130px;
  margin-bottom: 15px;
}

.menu{
  display: flex;
  align-items: center;
  background-color: rgb(133, 19, 63);
  height: 70px;
  margin-bottom: 15px;
}

.base {
  --base-background-color: rgb(207, 103, 138);
  display: inline-flex;
  width: 100%;
  height: 515px;
}

.aside-left-container {
  width: 450px;
  float: inline-start;
}

.aside-one{
  background-color: var(--base-background-color);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  height: 140px;
}

.aside-two{
  background-color: var(--base-background-color);
  height: 220px;
}

.aside-two > h1 {
  padding-top: 49px;
}

.main-content {
  background-color: var(--base-background-color);
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.main-content > h1 {
  padding-top: 49px;
}

.section {
  background-color: rgb(233, 149, 177);
  margin-top: 15px;
  margin-left: 80px;
  margin-right: 80px;
  height: 30%;
}

.section > h1 {
  padding-top: 20px;
  padding-left: 100px;
}

.aside-three {
  background-color: var(--base-background-color);
  width: 290px;
  height: 375px;
  float: inline-end;
}

.aside-three > h1 {
  padding-top: 49px;
  padding-left: 0;
  display:grid;
  justify-content: center;
}

footer{
  display: flex;
  align-items: center;
  background-color: rgb(133, 19, 63);
  height: 70px;
  margin-bottom: 15px;
}