*{
  margin: 0;
  padding: 0;
}

body{
  width: 60%;
  height: 90%;
  margin: 0 auto;
  background-color: #ADD9E6;
}

#main {
  display: flex;
  margin-top: 20px;
}

.column {
  flex: 1;
  margin: 15px;
}

.column-news {
  width: 98.874%;
  display: flex;
  flex-direction: column;
}

.news {
  --img-width: 100%;
  margin-top: 10px;
}

.news > div {
  background-color: whitesmoke;
  margin-top: -5px;
}

.news p{
  padding: 15px;
  text-align: left;
}

.news > div > h3{
  padding: 15px 0 0 15px;
  text-align: left;
  justify-content:baseline;
}

.img350x100 {
  width: var(--img-width);
  height: 100px;
}
.img350x150 {
  width: var(--img-width);
  height: 150px;
}
.img350x220 {
  width: var(--img-width);
  height: 220px;
}
.img350x230 {
  width: var(--img-width);
  height: 230px;
}
.img350x350 {
  width: var(--img-width);
  height: 350px;
}