*{
  margin: 0;
  padding: 0;
}

body{
  background-color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div-table{
  width: 920px;
  margin: 10px auto;
}

#table{
  width: 100%;
  vertical-align: middle;
  border-collapse: collapse;
}

#table > thead{
  padding: 0;
  color: whitesmoke;
  text-align: center;
}

#table > thead > tr th{
  height: 100px;
}

#table > thead > tr th:not(:first-child){
  width: 200px;
}

#table > thead > tr th:first-child{
  background-color: #7987AA;
  border-radius: 8px 0 0 0;
}

#table > thead > tr th:nth-child(2){
  background-color: #4F628D;
}

#table > thead > tr th:nth-child(3){
  background-color: #2F4173;
}

#table > thead > tr th:nth-child(4){
  background-color: #162954;
}

#table > thead > tr th:nth-child(5){
  background-color: #071538;
  border-radius: 0 8px 0 0;
}

#table > thead > tr th > div:first-child{
  margin-top: 10px;
  margin-bottom: 25px;
}

#table > thead > tr th > div:nth-child(2){
  font-size: 20pt;
}

#table > thead > tr th > div:nth-child(2)::before{
  content: "$";
}

#table > thead > tr th > div:nth-child(3){
  margin-bottom: 10px;
}

#table > thead > tr th > div:nth-child(3)::after{
  content: "per month";
}

#table > tbody > tr td{
  line-height: 45px;
}

#table > tbody > tr td:first-child {
  width: 300px;
}

#table > tbody > tr td:first-child > p{
  padding-left: 30px;
}

#table > tbody > tr td:not(:first-child){
  text-align: center;
}

#table > tbody > tr:nth-child(7) > td:not(:first-child){
  font-weight: bold;
  font-size: smaller;
  height: 55px;
}

#table > tbody > tr:nth-child(7) > td:not(:first-child) > div{
  background-color: #D3D3D3;
  border: 1px solid gray;
  width: 80px;
  height: 30px;
  line-height: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#table > tbody > tr:nth-child(7) > td:first-child{
  border-radius: 0 0 0 8px;
}

#table > tbody > tr:nth-child(7) > td:last-child{
  border-radius: 0 0 8px 0;
}

#table > tbody > tr:nth-child(7) > td:not(:first-child) > div::after{
  content: "START";
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#table > tbody > tr:nth-child(odd) > td:first-child,
#table > tbody > tr:nth-child(odd) > td:nth-child(3),
#table > tbody > tr:nth-child(odd) > td:nth-child(5){
  background-color: #DBDBDB;
}

#table > tbody > tr:nth-child(even) > td:first-child,
#table > tbody > tr:nth-child(even) > td:nth-child(3),
#table > tbody > tr:nth-child(even) > td:nth-child(5){
  background-color: #ECECEC;
}

#table > tbody > tr:nth-child(odd) > td:nth-child(2),
#table > tbody > tr:nth-child(odd) > td:nth-child(4){
  background-color: #E7E7E7;
}

#table > tbody > tr:nth-child(even) > td:nth-child(2),
#table > tbody > tr:nth-child(even) > td:nth-child(4){
  background-color: #F3F3F3;
}
